code/amazonProductScraper/amazonProductScraper/__init__.py
code/amazonProductScraper/amazonProductScraper/__pycache__/__init__.cpython-311.pyc
code/amazonProductScraper/amazonProductScraper/spiders/__init__.py
code/amazonProductScraper/amazonProductScraper/spiders/__pycache__/__init__.cpython-311.pyc
